{% extends "AdminBundle::admin.html.twig" %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

        <a class="add" href="{{ path('addSessionAction') }}">Ajouter</a>


        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">questionnaire</th>
                <th scope="col">libelle</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>

            {% for s in session %}
                <tbody>
                <tr>
                    <td> {{ s.id }}</td>
                    <td> {{ s.idQuestionnaire }}</td>
                    <td> {{ s.libelle }}</td>
                    <td> <a href="{{ path('showSessionAction', {id: s.id}) }}"><i class="fas fa-info-circle"></i></a></td>
                    <td> <a href="{{ path('editSessionAction', {id: s.id}) }}"><i class="far fa-edit"></i></a></td>
                    <td> <a href="{{ path('deleteSessionAction', {id: s.id}) }}"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
                </tbody>
            {% endfor %}
        </table>


{% endblock %}
